<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title_page"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if staff_signed_in? %>
          <li><%= link_to current_staff.name, "#" %></li>
          <% if current_staff.admin! %>
            <li><%= link_to t("orders"), admin_orders_path %></li>
          <% elsif current_staff.owner! %>
            <li><%= link_to t("orders"), admin_orders_path %></li>
          <% else %>
            <li><%= link_to t("orders"), "#" %></li>
          <% end %>
          <li><%= link_to t("logout"), destroy_staff_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("login"), new_staff_session_path, id: "head" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
