<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= render "layouts/shim" %>
  </head>
  <body class="staff">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-3 sidebar2">
          <%= render "layouts/staffs_layout/header" %>
        </div>
        <div class="col-md-9 col-sm-8 main-content">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
