<div class="modal fade" id="newlogin" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><span class="glyphicon glyphicon-lock"></span><%=t "login" %></h4>
      </div>
      <div class= "modal-body">
        <%= form_for :session, url: login_path do |f| %>

          <span class="glyphicon glyphicon-user"></span>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>

          <span class="glyphicon glyphicon-eye-open"></span>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span><%= t ".remember" %></span>
          <% end %>

          <%= f.submit t("login"), class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-off"></span>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <p><%= t ".new_user" %> <%= link_to t(".signup_now"), "#" %></p>
        <p><%= t ".forgot" %> <%= link_to t(".forgot_password"), root_path %></p>
      </div>
    </div>
  </div>
</div>
