<thead>
  <tr>
    <th><%= t "views.admins.form.name" %></th>
    <th><%= t "views.admins.form.email" %></th>
    <th><%= t "views.admins.form.position" %></th>
    <th class="action"><%= t "views.admins.form.action" %></th>
  </tr>
</thead>
<tbody>
  <% @staffs.each do |staff| %>
    <tr class="background-tr">
      <td><%= staff.name %></td>
      <td><%= staff.email %></td>
      <td><%= t "views.admins.form.#{staff.position}" %></td>
      <td>
        <%= link_to edit_admin_staff_path staff do %>
          <i class="fa fa-pencil-square"></i>
        <% end %>
        <%= link_to admin_staff_path(staff), method: :delete,
          data: {confirm: t("views.admins.form.confirm")}, remote: :true do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
