<% provide :title, t("views.admins.admin_staffs.edit") %>
<% provide :button_text, t("views.admins.admin_staffs.edit") %>
<div class="main-content">
  <div class="container">
    <div class="info-manager">
      <div class="title-manager pull-left">
        <h2><%= t "views.user.edits.edit_author" %></h2>
      </div>
      <div class="button-manager pull-right">
        <ul>
          <li>
            <%= link_to new_admin_staff_path do %>
              <i class="glyphicon glyphicon-plus"></i>
              <%= t "views.user.create" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="glyphicon glyphicon-export"></i>
              <%= t "views.user.export" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-wrap">
      <%= render "form" %>
    </div>
  </div>
</div>
