<% provide :title, t(".cart") %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
        <th><%= t ".product" %></th>
        <th><%= t ".quantity" %></th>
        <th class="text-center"><%= t ".price" %></th>
        <th class="text-center"><%= t ".total" %></th>
        <th></th>
        </thead>
        <tbody>
          <%= render @order_details %>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center">
              <%= t ".total_pay"%>
            </td>
            <td class="text-center">
              <%= number_to_currency @order.subtotal  %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <%= link_to t("orders.show.continue"), products_path ,
                class: "btn btn-default"%>
            </td>
            <td>
              <%= form_for @order do |f| %>
                <%= f.submit t(".checkout"), class: "btn btn-danger" %>
                <%= f.hidden_field :status, value: "waiting" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
