<% provide :title, t(".show") %>
<div class="main-content">
  <div class="container">
    <div class="info-manager">
      <div class="title-manager pull-left">
        <h2><%= t ".show" %></h2>
      </div>
      <div class="button-manager pull-right">
        <ul>
          <li>
            <%= link_to new_admin_discount_path do %>
              <i class="fa fa-plus"></i>
              <%= t ".create" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="glyphicon glyphicon-export"></i>
              <%= t ".export" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <%= render "list_discount" %>
      </table>
      <div class="pagination">
      </div>
    </div>
  </div>
</div>
