<thead>
  <tr>
    <th><%= t ".rec_name" %></th>
    <th><%= t ".rec_addr" %></th>
    <th><%= t ".rec_phone" %></th>
    <th><%= t ".order_details"%></th>
    <th><%= t ".total" %></th>
    <th><%= t ".status" %></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @orders.each do |order| %>
    <tr class="background-tr">
      <td><%= order.rec_name %></td>
      <td><%= order.rec_addr %></td>
      <td><%= order.rec_phone %></td>
      <td><%= render order.order_details %></td>
      <td><%= number_to_currency order.total %></td>
      <th><%= t ".#{order.status}" %></th>
      <td>
        <%= form_for [:admin, order] do |f| %>
          <%= f.hidden_field :shop_id, value: current_staff.shop_id %>
          <%= f.hidden_field :status, value: "rejected" %>
          <%= f.submit t(".abort"), class: "btn btn-danger" %>
        <% end %>
      </td>
      <td>
        <%= form_for [:admin, order] do |f| %>
          <%= f.hidden_field :shop_id, value: current_staff.shop_id %>
          <%= f.hidden_field :status, value: "finished" %>
          <%= f.submit t(".finished"), class: "btn btn-success" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
