<% provide :title, t("views.admins.admin_categories.show") %>
<div class="main-content">
  <div class="container">
    <div class="info-manager">
      <div class="title-manager pull-left">
        <h2><%= t "views.admins.admin_categories.show" %></h2>
      </div>
      <div class="button-manager pull-right">
        <ul>
          <li>
            <%= link_to "#" do %>
              <i class="glyphicon glyphicon-export"></i>
              <%= t "views.admins.export" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row wrap-search">
      <div class="col-md-6 col-md-offset-6">
        <%= form_tag admin_categories_path, method: :get, remote: true do %>
          <div class="form-group pull-right">
            <%= text_field_tag :search, params[:search],
              placeholder: t("views.input.value") %>
            <%= submit_tag t("views.search"), class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= render "new" %>
      </div>
      <div class="col-md-6"> 
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <%= render "list_category" %>
          </table>
          <div class="pagination">
            <%= will_paginate %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
