<div class="pro_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="product_item_view">
              <%= default_image @product %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="product_detail_view">
              <div class="pro_heading">
                <%= @product.name %>
                <span class="category">
                  <%= @product.name %>
                  <span id="stock_available">
                    <%= @product.status ? t(".available") : t("not_avilable") %>
                  </span>
                </span>
              </div>
              <div class="pro_price">
                <%= number_to_currency @product.price %>
              </div>
              <div class="add_quantity_cart">
                <div class="quantity">

                </div>
                <div class="slash">
                  /
                </div>
                <div class="butn-cart">

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
