<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title_page"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to t("logout"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("signup"), new_user_registration_path, id: "head" %></li>
          <li><%= link_to t("login"), new_user_session_path, id: "head" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
