<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt">
  <div class="top-bar clearfix">
   <div class="line clearfix"></div>
      <div class="container">
      </div>
  </div>
  <div class="container mainheader ">
    <div class="navbar-header">
      <span class="navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag "logo", class: "logo-com" %>
        <% end %>
      </span>
    </div>
    <div class="collapse navbar-collapse">
      <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li><%= link_to t(".about_us"),products_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".menu"),root_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".membership"),root_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".promotions"),root_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".carrer"),root_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".new"),root_path %></li>
        <li class="divider"></li>
        <li ><%= link_to t(".contact_us"),root_path %></li>
      </ul>
    </div>
  </div>
</header>
