<div class="menu-slide">
  <ul class="bxslider">
    <li><%= image_tag "image-slide.jpg" %></li>
    <li><%= image_tag "image-slide1.jpg" %></li>
    <li><%= image_tag "image-slide2.jpg" %></li>
    <li><%= image_tag "image-slide3.jpg" %></li>
    <li><%= image_tag "image-slide4.jpg" %></li>
  </ul>
</div>
