<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body id="admins">
    <div class="admin">
      <%= render "layouts/header_admin" %>
      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub("alert", "error").gsub("notice", "info") %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
      <% end %>
      <%= yield %>
      <%= render "/layouts/footer_admin" %>
    </div>
  </body>
</html>
